@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.styleText {
  background: #333;
  color: white;
  font-family: "Roboto", sans-serif;
}
.forest-background {
  background: url("https://i.ibb.co/dBLbrRV/bg1.jpg");
}

.plant-background {
  background: url("https://i.ibb.co/Fb5jb3J/bg2.jpg");
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.container > div {
  height: 210px;
  /*background: url("https://i.ibb.co/dBLbrRV/bg1.jpg");*/
  background-size: cover;
  background-attachment: fixed;
}

.box-1 {
  grid-column: 1 / 3;
}
.box-6 {
  grid-column: 3/5;
}
